<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>布局</title>
    <style type="text/css">
        body{ margin: 0; padding: 0;}
        /*.main{ width:800px;margin: 0 auto; }*/
        .left{width:200px;height:500px; background: red ;position: absolute; left:0 ; top: 0;}
        .middle{height: 500px; background:#cccccc; margin: 0 310px 0 210px;text-align: center;}
        .right{ width :300px; height:500px ; background:blue;position: absolute; top: 0; right: 0;}
    </style>
</head>
<body>
<div class="main">
    <div class="left"></div>
    <div class="middle">浣溪沙 <br>
                        谁念西风独自凉？<br>
                        萧萧黄叶闭疏窗。<br>
                        沉思往事立残阳。<br>
                        被酒莫惊春睡重,<br>
                        赌书消得泼茶香。<br>
                        当时只道是寻常。</div>
    <div class="right"></div>
</div>
</body>
</html>